@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/pizza-burger.webp');
 
font-family: 'Poppins', sans-serif;

}
#carousel img{
max-height:500px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
